img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 10px ridge #000000;
}

#selector {
    width: 75%;
}


body {
    background-color: #4da6ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-attachment: fixed;
}

#data{   
    background-image: url("../images/logo.png");
    background-color: #ccccccf8;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 97%;
    padding: 40px;
    padding-top: 10px;
    border: 15px ridge #000000;
    border-radius: 4px 0px 0px 0px;
}

#select {
    width: 80%;
}

h3{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

h3, a{
    font-family: Papyrus, fantasy;
    font-weight: bold;
    color: black;
}

a{
    text-decoration: none;
    font-size: 25px;
}

#lpers{
    border: 10px ridge #000000;
    border-radius: 4px 0px 0px 0px;
    width: 20%;
    text-align: center;
    background-color: #ccccccde;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    page-break-inside: avoid;
}


#shownames{
    padding-left: 15%;
    column-count: 3;
    }

#namesimg{
    width: 225px;
    height: 100%;
    border: 10px ridge black;
    border-radius: 30px;
    background-color: rgba($color: #b3d9ff, $alpha: 0.7);
    vertical-align: text-bottom;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
    page-break-inside: avoid;
    overflow: hidden;
}



